<div>
  <link href="./place-card.css" rel="stylesheet" />
  <div class="place-card-container">
    <img
      alt="image"
      src="aa6c6653-ed52-4e58-b394-882da9055374"
      class="place-card-image"
    />
    <div class="place-card-container1">
      <span class="place-card-text"><span>City Name</span></span>
      <a
        href="https://opensea.io/collection/web3tattoos"
        target="_blank"
        rel="noreferrer noopener"
        class="place-card-view-n-f-t button"
      >
        <span>View Collection</span>
      </a>
    </div>
  </div>
</div>
